<div class="col-xl-2 col-lg-3 col-md-4">
  <div class="card mb-4 shadow-sm">
    <div class="card">
      {{#each this.images}}
        {{#if @first}}
          <img class="card-img-top" 
            src ="{{this.url}}">
        {{/if}}
      {{/each}}
    </div>
    <div class="card-body text-center">
        <h4 class="card-text">{{this.name}}</h4>
        <h6 class="font-weight-light font-italic">Seguidores: {{this.followers.total}}</h6>
      <br>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
      </div>
      </div>
  </div>
</div>