<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error 404</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <div style="text-align: center">
        <h1>Error 404</h1>
        <h3>Todavia hay cosas pendientes...</h3>
        <button> <a href="/">Home</a></button>  
    </div>
    <div style="text-align: center" >
        <img src="{{notFoundImage}}"></img>
    </div>

</body>
</html>