<section class="jumbotron text-center border-bottom-dark rounded-0" style="background-color: #2da852d3;" >
      <div class="container">
        <div class="row justify-content-around text-center">
          <div class="col-md-8 col-sm-12">
            <h2 class="jumbotron-heading font-weinght-bold">Artista/Grupo: {{artista.name}}</h2>
          </div>
        </div>
      </div>
</section>

<div class ="border bg-warning p-5 mt-4 ml-5 mr-5">
    {{#each topCanciones}}
        <li>{{this.name}}</li>
    {{/each}}
    <h5>Artista {{artista.name}}</h5>
</div>

