<div class="container-fluid containerNode">
    <br><br>
    <div class = "row justify-content-around ">
        <div class ="col-md-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" 
                src ="https://hipertextual.com/wp-content/uploads/2021/11/alexander-shatov-w-qqwn5O-4I-unsplash.jpg" 
                alt="example image">
            </div>
        </div>

        <div class ="col-md-4 col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet eros id augue dapibus, ac pulvinar odio tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur semper est eget luctus blandit. Nulla facilisi. Cras eget dui dictum, consequat dolor interdum, condimentum mi. Curabitur a pulvinar nulla. Mauris tristique felis vitae nibh suscipit luctus a quis sapien. Cras vel porttitor velit. Integer eget felis placerat, posuere purus a, porttitor nisi. Donec rutrum a arcu vel venenatis. Donec sagittis volutpat tellus eu pharetra. Quisque tempus eu justo ac posuere. Etiam lectus tortor, fermentum et arcu ut, convallis commodo turpis. Curabitur nec feugiat nibh, non aliquam libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris sodales est at tellus finibus iaculis.</p>
        </div>

        <div class ="col-md-2 col-sm-4">
            
        </div>
    </div>
    <br><br>
</div>




