<div class="container-fluid containerNode">
  <br /><br />
  <div class="row justify-content-around">
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img
          class="card-img-top"
          src="https://hipertextual.com/wp-content/uploads/2021/11/alexander-shatov-w-qqwn5O-4I-unsplash.jpg"
          alt="example image"
        />
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <p
        style="border: 2px solid #161616; color:white; background-color:#384135dc; margin-top: 10px; 
        margin-bottom: 10%; padding: 20px;"
      >Pequeña App realizada en NodeJS, la cual usa la api de Spotify para
        recolectar datos sobre los distintos artistas o grupos. De forma que
        esta App permite mostrar una serie de artistas aleatorios asi como
        buscar artistas en concreto (en el buscador de la barra de navegación 
        arriba a la derecha) y mostrar información en concreto sobre cada
        uno de estos. Además esta simula un inicio de sesión simulando como si 
        hubiese una cuenta registrada cuyo username es "pepe@pepe.com" y el 
        password es "1234".</p>
    </div>

    <div class="col-md-2">
    </div>

  </div>
  <br /><br />
</div>