<div class="container-fluid containerNode">
    <br><br>
    <div class="d-flex row justify-content-center">

        <div class ="d-flex col-md-4 col-sm-8 justify-content-around">
            <div class="card shadow-lg border-dark " style="max-width: 35rem; min-width: 30rem;">
                <div class="card-header font-weight-bold text-center"> <h5>Iniciar Sesión</h5></div>
                <div class="card-body text-dark">
                    <form class="form-signin" action="/iniciarSesion" method="POST">
                        <br>
                        <div class="form-floating">
                            <label for="inputEmail" class="sr-only"></label>
                            <input type="email" name="falseEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        </div>
                        <br>
                        <div class="form-floating">
                            <label for="inputPassword" class="sr-only"></label>
                            <input type="password" name="falsePass" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                        <br>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Recuerdame
                            </label>
                        </div>
                        
                        {{#if inicioSesionIncorrecto}}
                            <p aria-atomic="true" style="color: #ff0000;" >Usuario o contraseña incorrectos</p>
                        {{/if}}

                        <button class="btn btn-md btn-primary btn-block" type="submit">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



