body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center center;
  background-attachment: fixed;
}

footer {
  color: white;
  background-color: #161616;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.containerNode{
  margin: 0;
  height: calc(100vh);
  
}


body .jumbotron {
  padding: 2rem 2rem;
}


